*.iml
.gradle
.kotlin
/local.properties
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
*.jks
keystore.properties
jsign.out